/*===== VARIABLES =====*/
$green: rgba(22,255,0,1);
$black: black;
/*===== ========= =====*/

body{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: $black;

    nav{
        ul{
            li{
                a{
                    font-size: 2rem;
                    font-weight: bold;
                } 
            } 
        } 
    }

    .icono{
        font-size: 2rem;
        font-weight: bold;
        color:#fff;
    }

    @import "phone/main";

    @media screen and (min-width:600px) {
        @import "tablet/main"; 
    }

    @media screen and (min-width:1024px) {
        @import "desktop/main";
    }

    footer{
        margin-top:50px;
        background-color: $black;
        border-top: solid 3px $green;
        padding: 15px;
    
        nav{
            ol{
                display: grid;
                grid-template-columns: repeat(2, 10rem);
                justify-content: end;
                list-style: none;
    
                li{
                    a{
                        color: #fff;
                        font-size: 1.5rem;
                        font-weight: bold;
                        padding: 20px;
                    }
                }
            }  
        } 
    }

    .precio{
        margin-bottom: 8px;
        font-size: 1.5rem;
    }
}
